.App {
  text-align: center;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

main {
  padding-top: 80px; /* Add padding to account for fixed navbar */
}

h1 {
  margin: 0;
  padding: 2rem 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
}
